/* Style guide for Home page */

.banner {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    min-height: 300px;
}

.promo-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

.about-banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about-banner-text {
    font-size: x-large;
    text-align: right;
    border-right: 1px solid black;
    padding: 2rem;
}

.about-banner-link {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 2rem;
}

.click-button {
    padding: 30px;
    background-color: #fff8e7;
    color: black;
    text-decoration: none;
    font-size: xx-large;
    font-weight: bold;
    border-radius: 8px;
}

.click-button:hover {
    color: white;
    background-color: #232C2E;
    transform: scale(1.05);
}

.promo-section>* {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    font-weight: bold;
    min-height: 200px;
    border-radius: 10px;
    margin: 3rem;

}

.writing-promo,
.photo-promo {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.writing-promo:hover,
.photo-promo:hover {
    transform: scale(1.05);
}

.promo-section a {
    color: white;
    text-decoration: none;
}

.promo-section a:hover {
    color: lightgray;
    text-shadow: 2px 2px black;
}

.contact-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #fff8e7;
    margin: 3rem;
    padding: 1rem;
}

.contact-section a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
}

.contact-section a:hover {
    transform: scale(1.05)
}

.icon {
    max-height: 200px;
}