/* Style guide for Photography page */

.photo-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
}

.gallery-item {
  text-align: center;
}

.gallery-item img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.gallery-item figcaption {
  margin-top: 0.5rem;
  font-size: large;
  color: #444;
}

/* On screens that are 1000px wide or less, change content to be 1 column */

@media only screen and (max-width: 1000px) {
    .photo-gallery {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 2rem;
    }
}